Bonjour {{alias}},
<hr />

To confirm your account follow <a href="{{link}}">this link</a><br />

<p>
  Test Default
  Lorem ipsum dolor,
  sit amet consectetur adipisicing elit.
  Illum magni ullam mollitia vitae totam quidem,
  dicta veritatis saepe doloribus, quo voluptate quasi.
  Vero veniam nulla ex eos nam recusandae rem.
</p>